<div class="col-lg-12">
    <h3>{{ title }}</h3>
    
    <div class="row">
        <div class="col-lg-1">Buscar:</div>
        <div class="col-lg-5">
            <input type="text" [(ngModel)]="busqueda">
        </div>
    </div>
    
    <table class="table table-hover">
        <thead class="thead-default">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Año</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let anim of animals | search: busqueda">
            <td>{{anim.name}}</td>
            <td>{{anim.description}}</td>
            <td>{{anim.year}}</td>
            <td>
                <button class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    Ver
                </button>
                <button class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Editar
                </button>
                <button class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Borrar
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
