
<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p>Disfruta de los animales más exóticos de nuestro zoologico.</p>
        <p>
            <a routerLink="/animales" class="btn btn-primary btn-lg" role="button">Ver Animales</a>
            <a routerLink="/cuidadores" class="btn btn-success btn-lg" role="button">Ver Cuidadores</a>
            <a routerLink="/contacto" class="btn btn-warning btn-lg" role="button">Contacta con nosotros</a>
        </p>
    </div>
</div>